body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.text-shadow {
    text-shadow: 0 0 1px black;
    box-shadow: 0 0 2px black;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(images/murtosa-header.jpg);
    background-size: cover;
}

#hero-title {
    width: 280px;
    padding: 8px 15px 8px 15px;
    margin: 0 auto 30px auto;
    background-color: #33658A;
    color: whitesmoke;
    font-weight: 700;
    font-style: normal;
    opacity: 0.9;
}

#hero-sub {
    width: 500px;
    padding: 8px 15px 8px 15px;
    margin: 0 auto 0 auto;
    background-color: #2F4858;
    color: whitesmoke;
    font-weight: 400;
    font-style: normal;
    opacity: 0.9;
}

#activities {
    background-color: #A2B8AE;
    padding-top: 15px;
}

#activities-text {
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    margin-top: 0;
    padding: 20px;
}

#activities-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activities-img {
    width: 200px;
    border-radius: 50%;
}
 .activities-titles {
    font-weight: 650;
    font-size: 17px;
 }
